<mat-card class="form">
  <mat-card-header class="form-header">
    <mat-card-title class="form-header-title">Complete o seu cadastro</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div id="informacoes-pessoais">
      <h1 class="form-content-title">Informações pessoais</h1>
      <div class="form-personal-info">
        <div class="fieds-1">
          <mat-form-field appearance="outline" class="form-fied-register-name" floatLabel="always">
            <mat-label class="input-size">Nome completo</mat-label>
            <input matInput placeholder="" class="input-size">
            <mat-hint class="form-content-warn">Dica:</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="input-size">Data de nascimento</mat-label>
            <input matInput [matDatepicker]="picker" readonly class="input-size">
            <mat-hint class="form-content-warn">Dica:</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="fieds-1">
          <mat-form-field appearance="outline" class="form-fied-register-cpf" floatLabel="always">
            <mat-label class="input-size">CPF</mat-label>
            <input matInput placeholder="" class="input-size">
            <mat-hint class="form-content-warn">Dica: </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-fied-register-cpf" floatLabel="always">
            <mat-label class="input-size">Telefone</mat-label>
            <input matInput placeholder="" class="input-size">
            <mat-hint class="form-content-warn">Dica: </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div id="informacoes-de-acesso" class="form-user">
      <h1 class="form-content-title">Informações de acesso</h1>
      <div class="form-user-info">
        <div class="fieds-1">
          <mat-form-field appearance="outline" class="form-fied-register-user" floatLabel="always">
            <mat-label class="input-size">Usuário</mat-label>
            <input matInput placeholder="" class="input-size">
            <mat-hint class="form-content-warn">Dica: o nome será utilizado para realizar o login</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-fied-register-user" floatLabel="always">
            <mat-label class="input-size">Senha</mat-label>
            <input matInput placeholder="" class="input-size">
            <mat-hint class="form-content-warn">Dica: </mat-hint>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="form-fied-register-email" floatLabel="always">
          <mat-label class="input-size">E-mail</mat-label>
          <input matInput placeholder="" class="input-size">
          <mat-hint class="form-content-warn">Dica: </mat-hint>
        </mat-form-field>
      </div>
    </div>

    <p class="form-content-warn">Ao preencher o formulário de cadastro você permite que a IAF Control salve as suas
      informações.</p>
  </mat-card-content>

  <mat-card-actions>
    <button class="button-register">CADASTRAR</button>
  </mat-card-actions>
</mat-card>