<div>
  <div class="cabecalho">
    <h1>Identity and Authentication Failure Control</h1>
    <mat-divider></mat-divider>
  </div>

  <div class="card-home">
    <img class="card-home-image"
      src="https://blush.design/api/download?shareUri=1oBlaE75Li8uIb1u&c=Skin_0%7Efcb7a0&w=800&h=800&fm=png" alt="">
    <mat-card class="mat-card">
      <h2 class="mat-card-title">Bem vindo(a) ao IAF Control!</h2>
      <p class="mat-card-description">Realize o seu login para o acesso completo.</p>
      <div class="buttons-login-security">
        <mat-card class="card-login-green" routerLink="/safe-login">
          <span class="material-symbols-outlined icon-red">
            verified_user
          </span>
        </mat-card>
        <mat-card class="card-login-red">
          <span class="material-symbols-outlined icon-red">
            gpp_bad
          </span>
        </mat-card>
      </div>

    </mat-card>
  </div>
</div>
