.cabecalho {
  margin-top: 20px;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #0a1326;
  margin-left: 15px;
}

.card-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-home-image {
  width: 180px;
}

.card {
  /*background-color: #344973;*/
  color: #0a1326;
  width: 800px;
  height: 120px;
  margin: 0 auto;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin: 0 auto;
}

.mat-card-description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 10px;
}

.buttons-login-security {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  margin-top: 10px;
}

.card-login-red {
  background-color: red;
  border: none;
  width: 24.5px;
  margin: 0 auto;
}

.card-login-red:hover {
  background-color: rgb(236, 72, 72);
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.card-login-green {
  background-color: rgb(41, 150, 46);
  border: none;
  width: 24.5px;
  margin: 0 auto;
}

.card-login-green:hover {
  background-color: rgb(33, 117, 38);
  cursor: pointer;
}

.buttons-register {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-register-green {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: 600;
  padding: 9px 100px;
  background-color: #1fa65a;
  border: none;
  border-radius: 77px 77px 24px 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.button-register-green:hover {
  background-color: #65bf8c;
  cursor: pointer;
}

.button-register-red {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: 600;
  padding: 9px 100px;
  background-color: red;
  border: none;
  border-radius: 77px 77px 24px 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.button-register-red:hover {
  background-color: rgb(236, 72, 72);
  cursor: pointer;
}
