<div>
  <div class="cabecalho">
    <h1>Identity and Authentication Failure Control</h1>
    <mat-divider></mat-divider>
  </div>

  <div class="card-home">
    <img class="card-home-image"
      src="https://blush.design/api/download?shareUri=1oBlaE75Li8uIb1u&c=Skin_0%7Efcb7a0&w=800&h=800&fm=png" alt="">
    <div class="card">
      <h2 class="mat-card-title">Bem vindo(a) ao IAF Control!</h2>
      <p class="mat-card-description">Realize o seu cadastro para o acesso completo.</p>

      <div class="buttons-register">
        <button class="button-register-green" routerLink="/secure-registration-form">
          <span class="material-symbols-outlined">
            verified_user
          </span>
          Cadastre-se
        </button>

        <button class="button-register-red" routerLink="/">
          <span class="material-symbols-outlined">
            gpp_bad
          </span>
          Cadastre-se
        </button>
      </div>

    </div>
  </div>
</div>