.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin-top: 30px;
}

.dashboard-text {
  color: #0a1326;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.dashboard-image {
  width: 450px;
}

.dashboard-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dashboard-subtitle {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 10px;
}

.dashboard-blink {
  width: 50px;
}

.button-out {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: 600;
  padding: 9px 13px;
  background-color: #1fa65a;
  border: none;
  border-radius: 15px 10px;
}

.button-out:hover {
  background-color: #65bf8c;
  cursor: pointer;
}
